In [1]:
using CSV
using DataFrames

In [3]:
df = DataFrame(CSV.File("grid_search3.csv"))

1×13 DataFrame
 Row │ id     phi0     epsr     epsv     thetaf   ra         rp       dt1      ⋯
     │ Int64  Float64  Float64  Float64  Float64  Float64    Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1      0.0   1.0e-6   1.0e-6  2.86234  0.0179257  4.00071   15.025  ⋯
                                                               5 columns omitted

In [7]:
df.phi0

1-element Vector{Float64}:
 0.0

In [6]:
df.phi0[1]

0.0

In [9]:
size(df)[1]

1

In [11]:
for row in eachrow(df)
    println("kljds")
end

kljds

In [14]:
df[1,:]

DataFrameRow
 Row │ id     phi0     epsr     epsv     thetaf   ra         rp       dt1      ⋯
     │ Int64  Float64  Float64  Float64  Float64  Float64    Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1      0.0   1.0e-6   1.0e-6  2.86234  0.0179257  4.00071   15.025  ⋯
                                                               5 columns omitted